# Importing pandas, numpy os and products and orders dataframes

In [2]:
import pandas as pd
import numpy as np
import os

In [4]:
path = r'C:\Users\BaratSakhizada\Desktop\Achievement 4\02 Data\Original'

In [6]:
df_prods = pd.read_csv(os.path.join(path, 'products.csv'), index_col=False)

In [8]:
df_ords = pd.read_csv(os.path.join(path, 'orders.csv'), index_col = False)

In [33]:
# product and orders dataframes has been imported using the os.path.join

## Q 01. Running Consistency Check on df_prods Dataframe

In [18]:
df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

In terms of consistency, the data looks OK. Mean of department_id is = 1 and its max = 21, exactly as expected. The quartiles of the department_id are also OK. We could also run similar checks on product_id, aisle_id and especially prices if we had known the min and max ranges. For now at least we can say, as another positive factor, that there is no negative number in any column.

## Q 02. Investigating df_ords Dataframe

In [31]:
df_ords.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [43]:
# changing the numbers into a normal format from scientific format
pd.set_option('display.float_format', '{:.2f}'.format)

In [45]:
# running the describe() again on df_prods dataframe 
df_ords.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3421083.00,3421083.00,3421083.00,3421083.00,3421083.00,3214874.00
mean,1710542.00,102978.21,17.15,2.78,13.45,11.11
std,987581.74,59533.72,17.73,2.05,4.23,9.21
min,1.00,1.00,1.00,0.00,0.00,0.00
25%,855271.50,51394.00,5.00,1.00,10.00,4.00
50%,1710542.00,102689.00,11.00,3.00,13.00,7.00
75%,2565812.50,154385.00,23.00,5.00,16.00,15.00
max,3421083.00,206209.00,100.00,6.00,23.00,30.00

In [49]:
# min of order_id starts 1 and max is above 3 million, consistent with the size of the dataframe. 
# similar with user_id, min is 1, however, the max is around 206K. This is maybe becuase a single user orderd multiple times. Better to investigate it.
# order_number looks OK, its min is 1 and the max is 100. This confirms the above point that there are users who orderd even 100 times.
# order_dow is within the acceptable range.
# order_hour_of_day is also within the acceptable range.
# the last column, days_since_prior_order looks OK and there is no strange number.

## Q 03 Checking Mixed Data Type in df_ords Dataframe

In [86]:
# checking every single column's data type
df_ords.dtypes

order_id                    int64
user_id                     int64
eval_set                   object
order_number                int64
order_dow                   int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

In [60]:
# as shown above, the df_ords doesn't have mixed data type. Data in all the columns are uniform. So I will create a new dataframe.

In [62]:
# create a dataframe
df_test = pd.DataFrame()

In [66]:
# creating a mixed type column
df_test['mix'] = ['a', 'b',1, True]

In [68]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [72]:
# checking whether a dataframe has any mixed data type column
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

C:\Users\BaratSakhizada\AppData\Local\Temp\ipykernel_20064\393532888.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)

## Q 04 Fixing Mixed Data Type Problem

In [80]:
#  Once weâ€™ve reached a decision that our dataframe has mixed data, we can run this syntax to change data type.
df_test['mix'] = df_test['mix'].astype('str')

In [84]:
# running the syntax to see if the mixed data type problem is resolved.
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

C:\Users\BaratSakhizada\AppData\Local\Temp\ipykernel_20064\2077101227.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)

## Q 05 Running Check for Missing Values in df_ords Dataframe

In [96]:
# the below code indicates count of all missing values in all the columns. The .sum() function at the end sums all the missing values. 
df_ords.isnull() .sum()

order_id                       0
user_id                        0
eval_set                       0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [ ]:
# as seen above, there are no missing values. 206209 are blank cells in the dataframe meaning that prior order order happend on the same day with their current order.

## Q 06 Address the missing values using an appropriate method.

In [10]:
# as explaind and shown above, no missing record has been found in the dataframe.

## Q 07 Run a check for duplicate values in your df_ords data

In [164]:
# the below syntax creates a new dataframe with duplicate rows.
df_dups = df_ords[df_ords.duplicated()]

In [160]:
df_dups

Empty DataFrame
Columns: [order_id, user_id, eval_set, order_number, order_dow, order_hour_of_day, days_since_prior_order]
Index: []

In [162]:
df_dups.shape

(0, 7)

In [166]:
# as seen above, there is no duplicate rows in the dataframe.

In [168]:
# we could have created a new dataframe dropping all the duplicate rows using the below syntax, if duplicate rows existed.
df_prods_clean_no_dups = df_ords.drop_duplicates()

## Q 08 Exporting the data

In [12]:
path = r'C:\Users\BaratSakhizada\Desktop\Achievement 4\02 Data\Prepared Data'

In [14]:
df_ords.to_csv(os.path.join(path, 'Orders Consistency Checked - task 4.5 - FinalFinal.csv'))