## Q03 Importing Libraries and orders_products_combined File

In [2]:
import pandas as pd
import numpy as np
import os

In [4]:
path = r'C:\Users\BaratSakhizada\Desktop\Achievement 4\02 Data\Prepared Data'

In [21]:
df_ords_prods_combined = pd.read_pickle(os.path.join(path, 'orders merged dataframe.pickle'))

In [31]:
df_prods = pd.read_csv(os.path.join(path, 'Products Data 4.5 - consistency checked.csv'), index_col = False)

## Q04 Checking the Shape of the Dataframe

In [25]:
df_ords_prods_combined.shape

(32434489, 11)

In [16]:
### shape of the dataframe is the same with what exported

## Q05 Merging df_ords_products_combined with products dataset

In [27]:
df_ords_prods_combined.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [39]:
### checking the shape of df_ords_prods_combined dataframe 
df_ords_prods_combined.shape

(32434489, 11)

In [33]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [41]:
### checking the shape of df_prods dataframe
df_prods.shape

(49672, 6)

In [43]:
### product_id is common between both dataframes so it key be used as key for joining both dataframes. 
### despite a huge difference in terms of shape between both dataframes, we should be able to merge them using product_id.

In [ ]:
### merging both dataframes using product_id as a key
### indicator = 'merge2' is used instead of indicator = True because Jupyter gave me an error that a column named merge already exist. 
df_ords_prods_combined = df_ords_prods_combined.merge(df_prods, on = 'product_id', indicator = 'merge2')

In [69]:
### checking whether the dataframes are merged
df_ords_prods_combined.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,aisle_id_y,department_id_y,prices_y,merge1_indicator,Unnamed: 0,product_name,aisle_id,department_id,prices,merge2
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,77,7,9.0,both,195,Soda,77,7,9.0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,...,91,16,12.5,both,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,...,23,19,4.4,both,12427,Original Beef Jerky,23,19,4.4,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,...,23,19,4.7,both,26089,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,...,54,17,1.0,both,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both

## Confirm the results of the merge using the merge flag.

In [75]:
df_ords_prods_combined['merge2'].value_counts()

merge2
both          32408279
left_only            0
right_only           0
Name: count, dtype: int64

In [78]:
df_ords_prods_combined.shape

(32408279, 29)

## Exporting the combined data

In [81]:
path = r'C:\Users\BaratSakhizada\Desktop\Achievement 4\02 Data\Prepared Data'

In [89]:
df_ords_prods_combined.to_pickle(os.path.join(path, '4.6_orders_ordersproducts_products_combined.pickle.pickle'))