## Importing libraries and dataframes

In [2]:
import pandas as pd
import numpy as np
import os

In [4]:
path = r'C:\Users\BaratSakhizada\Desktop\Achievement 4\02 Data\Original'

In [6]:
df_ords_prior = pd.read_csv(os.path.join(path, 'orders_products_prior.csv'), index_col = False)

In [7]:
df_ords = pd.read_csv(os.path.join(path, 'orders.csv'), index_col = False)

## Checking for the common columns between both datasets

In [13]:
# checking order_prior dataset
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [15]:
# Checking orders dataset
df_ords.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

### as seen above, order_id is the common column between both datasets.

In [20]:
# cheking shape of order_prior dataset
df_ords_prior.shape

(32434489, 4)

In [22]:
# checking shape of order dataset 
df_ords.shape

(3421083, 7)

## Merging both datasets using the merge syntanx

In [27]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [29]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [32]:
# Using the below syntax, we check how many order_id columns were in common between both datasets. 
# 0 in lef and right_only does not necessarily mean that both datasets matched 100%. 
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

## Exporting the Merged Datasets in csv and pickle Formats

In [46]:
path = r'C:\Users\BaratSakhizada\Desktop\Achievement 4\02 Data\Prepared Data'

In [50]:
df_merged_large.to_csv(os.path.join(path, 'Orders Merged Dataframe.csv'))

In [52]:
df_merged_large.to_pickle(os.path.join(path, 'Orders Merged Datafraem.pickle'))

In [35]:
df_merged_large.shape

(32434489, 11)